<html>
<style>
ul {
  white-space: nowrap;
}

ul, li {
  list-style: none;
  display: inline;
  margin: 0; 
  padding: 0;
}
</style>

<head>
  <title>Text2Icon</title>
</head>
    <h2> Try Text2Icon! See what icons it generates with your typing.</h2>
   <body>
      <form action = "http://localhost:5000/" method = "POST">
         <p>Input the name of your icon:  <input type = "text" name = "Name" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
    <hr>
    {% if result is defined %}
    <h1> {{ result['name']}} </h1>
    <ul>
    {% for image_url in result['images'] %}
   <li><img src="{{ image_url }}"></li>
    {% endfor %}
    </ul>
    {% endif %}
   </body>
</html>
